@using System
@using Sandbox;
@using Sandbox.ActionGraphs
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="ChatBox">
		<div class="Name">John Doe</div>
		<div class="Dialogue">Hello! Looking for a room for 1, please.</div>
		<div class="Responses">
			<div class="Response" 
			     onclick="@( () => Accept() )">Sure!</div>
			<div class="Response" onclick="@( () => Deny() )">FUCK YOU</div>
		</div>
	</div>
</root>

@code
{
	public Component Player { get; set; }
	protected override void OnFixedUpdate()
	{
		if ( Input.EscapePressed || Input.Pressed( "score" ) ) Enabled = false;
	}

	public void Accept()
	{
		Enabled = false;
	}
	
	public void Deny()
	{
		Enabled = false;
	}
	
	protected override int BuildHash() => 0;
}
